accelerate==0.31.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiolimiter==1.1.0
aiosignal==1.3.2
alembic==1.13.2
anaconda-anon-usage @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3eler6mjxh/croot/anaconda-anon-usage_1710965076906/work
annotated-types==0.7.0
anthropic==0.47.2
anyio==4.9.0
appnope==0.1.4
apsw==3.49.1.0
apswutils==0.0.2
archspec @ file:///croot/archspec_1709217642129/work
argcomplete==3.5.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.1.3
asttokens==2.4.1
async-lru==2.0.4
attrs==25.3.0
Babel==2.14.0
backoff==2.2.1
base64io==1.0.3
beautifulsoup4==4.12.3
bespokelabs-curator==0.1.20
bleach==6.1.0
blinker==1.7.0
boltons @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/boltons_1699240838368/work
boto3==1.34.156
botocore==1.34.156
Brotli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_27zk0eqdh0/croot/brotli-split_1714483157007/work
cachetools==5.4.0
certifi==2025.1.31
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7a9c7wyorr/croot/cffi_1714483157752/work
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.0.0
cohere==4.57
colorama==0.4.6
colorcet==3.1.0
coloredlogs==15.0.1
colorlog==6.8.2
colorspacious==1.1.2
comm==0.2.2
conda @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_7f1grzzulv/croot/conda_1714403043044/work
conda-content-trust @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9fusbfzixa/croot/conda-content-trust_1714483157715/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5flg8a9vpv/croot/conda-package-handling_1714483157736/work
conda_package_streaming @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/conda-package-streaming_1699238858289/work
contourpy==1.3.0
coverage==7.8.0
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_31zgxm62w8/croot/cryptography_1714660690857/work
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.12.1
Cython==0.29.37
dask==2024.8.1
dataclasses-json==0.6.7
datamapplot==0.3.0
datasets==3.4.1
datashader==0.16.3
debugpy==1.8.5
decorator==5.1.1
deepdiff==7.0.1
defusedxml==0.7.1
dill==0.3.8
distro @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ddkyz0575y/croot/distro_1714488254309/work
docopt==0.6.2
docstring_parser==0.16
dspy-ai==2.4.13
duckduckgo_search==6.2.6
einops==0.7.0
emoji==2.12.1
exa-py==1.0.17
executing==2.0.1
fastapi==0.115.12
fastavro==1.9.5
fastcore==1.8.1
fastembed==0.3.4
fastjsonschema==2.19.1
fastlite==0.1.3
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.13.4
filetype==1.2.0
fireworks-ai==0.15.0
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.47.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2023.10.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.1
google-crc32c==1.5.0
google-generativeai==0.7.2
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
gpt-researcher==0.8.4
greenlet==3.0.3
groq==0.9.0
grpc-google-iam-v1==0.13.1
grpcio==1.65.4
grpcio-status==1.62.3
grpcio-tools==1.65.4
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hdbscan==0.8.38.post1
hpack==4.0.0
html5lib==1.1
htmldocx==0.0.6
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.25.1
humanfriendly==10.0
hyperframe==6.0.1
idna==3.10
imageio==2.35.1
importlib-metadata==6.11.0
iniconfig==2.1.0
instructor==1.7.7
ipykernel==6.29.5
ipython==8.20.0
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
jieba3k==0.35.1
Jinja2==3.1.4
jiter==0.9.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
json_repair==0.26.0
jsonpatch @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3ajyoz8zoj/croot/jsonpatch_1714483362270/work
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.1
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.12.5
jupyter_server_terminals==0.5.3
jupyterlab==4.0.13
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
langchain==0.2.12
langchain-anthropic==0.1.22
langchain-aws==0.1.16
langchain-cohere==0.2.0
langchain-community==0.2.11
langchain-core==0.2.29
langchain-experimental==0.0.64
langchain-fireworks==0.1.7
langchain-google-genai==1.0.8
langchain-google-vertexai==1.0.8
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langchain-mistralai==0.1.12
langchain-openai==0.1.20
langchain-text-splitters==0.2.2
langchain-together==0.1.5
langdetect==1.0.9
langgraph==0.2.2
langgraph-checkpoint==1.0.2
langgraph-cli==0.1.50
langsmith==0.1.98
latentscope==0.4.2
lazy_loader==0.4
libmambapy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_8b8wjifot8/croot/mamba-split_1714483537242/work/libmambapy
litellm==1.61.3
llvmlite==0.42.0
locket==1.0.0
loguru==0.7.3
lxml==5.2.2
lxml_html_clean==0.2.0
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.5.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.2
matplotlib-inline==0.1.7
md2pdf==1.0.1
mdurl==0.1.2
menuinst @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f09hp0bknw/croot/menuinst_1714510665223/work
mistralai==0.0.12
mistune==3.0.2
mixedbread @ git+https://github.com/mixedbread-ai/mixedbread-python.git@a948db99ac34656fe0b3755b70dfda3893b23d1b
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.2.0
multipledispatch==1.0.0
multiprocess==0.70.16
mypy-extensions==1.0.0
narwhals==1.32.0
nbclient==0.9.1
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
newspaper3k==0.2.8
nltk==3.8.1
notebook==7.0.8
notebook_shim==0.2.4
numba==0.59.1
numpy==2.2.4
oauthlib==3.2.2
onnx==1.16.2
onnxruntime==1.18.1
openai==1.70.0
opt-einsum==3.3.0
optuna==3.6.1
ordered-set==4.1.0
orjson==3.9.15
overrides==7.7.0
packaging==24.2
pandas==2.2.2
pandocfilters==1.5.1
param==2.1.1
parameterized==0.9.0
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
pillow==11.1.0
pipx==1.6.0
platformdirs==4.1.0
playwright==1.45.1
plotly==6.0.1
pluggy==1.5.0
portalocker==2.10.1
posthog==3.21.0
primp==0.5.5
prometheus-client==0.19.0
prompt_toolkit==3.0.47
propcache==0.3.1
proto-plus==1.24.0
protobuf==5.27.3
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycosat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_19qelmdbl6/croot/pycosat_1714510743067/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct==0.5.0
pydantic==2.11.1
pydantic-settings==2.8.1
pydantic_core==2.33.0
pydyf==0.11.0
pyee==11.1.0
Pygments==2.17.2
pylabeladjust==0.1.13
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pynndescent==0.5.13
pyparsing==3.1.2
pypdf==4.3.1
pyphen==0.16.0
Pyqtree==1.0.0
PySocks @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/pysocks_1699237568675/work
PyStemmer==2.2.0.1
pytest==8.0.0
pytest-asyncio==0.23.5
pytest-cov==4.1.0
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.1.0
python-fasthtml==0.12.12
python-iso639==2024.4.27
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
pytz==2023.4
PyYAML==6.0.2
pyzmq==25.1.2
qdrant-client==1.10.1
qtconsole==5.5.2
QtPy==2.4.1
rapidfuzz==3.9.6
referencing==0.33.0
regex==2023.12.25
replicate==1.0.4
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.17.1
rsa==4.9
ruamel.yaml @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/ruamel.yaml_1699241608430/work
ruff==0.11.6
s3transfer==0.10.2
safetensors==0.4.4
scikit-image==0.24.0
scikit-learn==1.3.2
scipy==1.11.4
Send2Trash==1.8.3
sentence-transformers==3.0.1
setuptools==69.5.1
sgmllib3k==1.0.0
shapely==2.0.5
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
SQLAlchemy==2.0.32
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.46.1
structlog==24.4.0
sympy==1.13.1
tabulate==0.9.0
tavily-python==0.3.6
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.2.0
tifffile==2024.8.28
tiktoken==0.7.0
tinycss2==1.2.1
tinysegmenter==0.3
tldextract==5.1.2
together==0.2.11
tokenizers==0.20.0
toolz==0.12.1
torch==2.3.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers @ git+https://github.com/huggingface/transformers.git@a43e84cb3b78fcac3d5d9374a8488f74f3f19245
truststore @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/truststore_1701805928787/work
typer==0.9.4
types-python-dateutil==2.8.19.20240311
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2023.4
ujson==5.10.0
umap-learn==0.5.6
unstructured==0.15.1
unstructured-client==0.25.4
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
userpath==1.9.2
uv==0.6.6
uvicorn==0.34.0
uvloop==0.21.0
vertexai==1.71.1
voyageai==0.2.3
watchfiles==1.0.5
wcwidth==0.2.13
weasyprint==62.3
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.4
-e git+https://github.com/NirantK/whatsapp-moderation.git@5a891b7dc6b7f1f21802cde06cfbe5914c2bb83a#egg=whatsapp_analyzer
wheel==0.43.0
widgetsnbextension==4.0.11
wrapt==1.16.0
xarray==2024.7.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.17.0
zopfli==0.2.3
zstandard @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_054juzz3it/croot/zstandard_1714677666952/work
